/* Reset de margens e preenchimento */
html, body {
    margin: 0;
    padding: 0;
}

/* Estilo geral do corpo da página */
body {
    margin: 20px;
    font-family: "Times New Roman";
    background: linear-gradient(45deg, #000000, #ebebeb);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Título principal */
#titulo {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(136, 9, 9);
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
}

/* Container principal para formulário e botões */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

/* Estilo do formulário */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 400px;
    min-height: 370px;
    padding: 20px;
    background-color: #ddd;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 5px;
}

/* Formatação das labels */
.formulario label {
    display: block;
    margin-bottom: 5px;
}

/* Mensagem de erro */
#mensagemFormulario{
    margin-top: 10px;
    font-weight: bold;
}

/* Foco normal */
input:focus {
    outline: none;
    border: 2px solid black;
}

/* Foco com erro (aplicado com JavaScript) */
input.erro:focus {
    outline: none;
    border: 2px solid darkred;
    background-color: #fdd;
}

/* Campos de entrada */
.input {
    width: 100%;
    padding: 5px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
}

/* Área dos botões */
.botoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    min-width: 200px;
}

/* Botões */
.btn {
    padding: 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}

/* Área de informações */
.infos {
    display: none;
    position: relative;
    width: 400px;
    max-height: 370px;
    min-height: 50px;
    padding: 20px;
    overflow-y: auto;
    background-color: #ddd;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 5px;
}

/* Botão para fechar a área de informações */
#fechar-btn {
    display: none;
}